<div class="browser-container">
  <div class="browser-nav">
    <input id="browse-path" type="text" placeholder="C:\ 或输入路径浏览" class="browse-input">
    <button id="btn-browse-go" class="btn-go">浏览 / Go</button>
  </div>
  <div id="browse-breadcrumb" class="browse-breadcrumb"></div>
  <div id="browse-list" class="browse-list"></div>
  <fieldset class="bookmark-manager">
    <legend>已保存的书签 / Saved Bookmarks</legend>
    <div id="bookmark-list" class="bookmark-list"></div>
  </fieldset>
  <div class="browse-footer">
    <button id="btn-save-browse-path" class="btn-save-path">📌 保存当前路径到书签</button>
  </div>
</div>
